# General
*.log*
*.tsbuildinfo
.DS_Store
.env
.env.*
.eslintcache
node_modules/

# Docusaurus
.cache-loader/
.docusaurus/
build/

# Gatsby
.cache/
public/

# Next.js
.next/

# Package build output
dist-*/
